
.property-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

.property-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 2px rgba(155, 106, 106, 0.3);
  background-color: #f9f9f9;
}

  .property-wrapper a {
    text-decoration: none;
    color: #161616;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
    border-radius: 15px;  
  }
  
  .card-content {
    padding: 1px;
  }
  
  
.card-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1C3988;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

.card-city {
  color: #272727;
}
  
.property-wrapper{
  border-radius: 15px;
  padding: 15px;
  /* margin: 2px; */

}